apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "edc-ionos-s3.fullname" . }}-config
data:
  config.properties: |
    edc.participant.id={{ .Values.edc.participant.id }}
    web.http.port={{ .Values.web.http.port }}
    web.http.path={{ .Values.web.http.path }}
    web.http.management.port={{ .Values.web.http.management.port }}
    web.http.management.path={{ .Values.web.http.management.path }}
    web.http.protocol.port={{ .Values.web.http.protocol.port }}
    web.http.protocol.path={{ .Values.web.http.protocol.path }}
    web.http.public.port={{ .Values.web.http.public.port }}
    web.http.public.path={{ .Values.web.http.public.path }}
    web.http.control.port={{ .Values.web.http.control.port }}
    web.http.control.path={{ .Values.web.http.control.path }}
    edc.dsp.callback.address={{ .Values.edc.dsp.callback.address }}
    edc.dataplane.token.validation.endpoint={{ .Values.edc.dataplane.token.validation.endpoint }}
    edc.dataplane.api.public.baseurl={{ .Values.edc.dataplane.api.public.baseurl }}
    edc.api.auth.key={{ .Values.edc.api.auth.key }}
    edc.transfer.proxy.token.signer.privatekey.alias={{ .Values.edc.vault.certificates.privateKey.alias }}
    edc.transfer.proxy.token.verifier.publickey.alias={{ .Values.edc.vault.certificates.publicKey.alias }}
    edc.vault.hashicorp.url={{ .Values.edc.vault.hashicorp.url }}
    edc.vault.hashicorp.token={{ .Values.edc.vault.hashicorp.token }}
    edc.vault.hashicorp.timeout.seconds={{ .Values.edc.vault.hashicorp.timeout.seconds }}
    edc.ionos.access.key={{ .Values.edc.ionos.accessKey }}
    edc.ionos.secret.key={{ .Values.edc.ionos.secretKey }}
    edc.ionos.endpoint.region={{ .Values.edc.ionos.region }}
    edc.ionos.token={{ .Values.edc.ionos.token }}

    {{- if eq .Values.edc.persistenceType "PostgreSQLaaS" }}
    edc.datasource.asset.name=asset
    edc.datasource.asset.user={{ .Values.edc.postgresql.username }}
    edc.datasource.asset.password={{ .Values.edc.postgresql.password }}
    edc.datasource.asset.url=jdbc:postgresql://{{ .Values.edc.postgresql.host }}:{{ .Values.edc.postgresql.port }}/{{ .Values.edc.postgresql.database }}

    edc.datasource.policy.name=policy
    edc.datasource.policy.user={{ .Values.edc.postgresql.username }}
    edc.datasource.policy.password={{ .Values.edc.postgresql.password }}
    edc.datasource.policy.url=jdbc:postgresql://{{ .Values.edc.postgresql.host }}:{{ .Values.edc.postgresql.port }}/{{ .Values.edc.postgresql.database }}

    edc.datasource.contractdefinition.name=contractdefinition
    edc.datasource.contractdefinition.user={{ .Values.edc.postgresql.username }}
    edc.datasource.contractdefinition.password={{ .Values.edc.postgresql.password }}
    edc.datasource.contractdefinition.url=jdbc:postgresql://{{ .Values.edc.postgresql.host }}:{{ .Values.edc.postgresql.port }}/{{ .Values.edc.postgresql.database }}

    edc.datasource.contractnegotiation.name=contractnegotiation
    edc.datasource.contractnegotiation.user={{ .Values.edc.postgresql.username }}
    edc.datasource.contractnegotiation.password={{ .Values.edc.postgresql.password }}
    edc.datasource.contractnegotiation.url=jdbc:postgresql://{{ .Values.edc.postgresql.host }}:{{ .Values.edc.postgresql.port }}/{{ .Values.edc.postgresql.database }}

    edc.datasource.transferprocess.name=transferprocess
    edc.datasource.transferprocess.user={{ .Values.edc.postgresql.username }}
    edc.datasource.transferprocess.password={{ .Values.edc.postgresql.password }}
    edc.datasource.transferprocess.url=jdbc:postgresql://{{ .Values.edc.postgresql.host }}:{{ .Values.edc.postgresql.port }}/{{ .Values.edc.postgresql.database }}

    {{- end }}